<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000">
  <meta name="description" content="Okome Studio is a software consultancy">
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="https://okomestudio.net/favicon.ico">
  <link rel="stylesheet" href="https://okomestudio.net/reset.css">
  <link rel="stylesheet" href="https://okomestudio.net/index.css">
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  <link rel="stylesheet" href="{{ "css/codesyntax.css" | relURL }}">
  <link rel="stylesheet" href="{{ "css/gist.css" | relURL }}">
  <title>Welcome — {{ .Title }}</title>

  <script type="text/javascript">
    window.MathJax = {
      tex: {
        tags: 'ams'
      }
    };
  </script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({ TeX: { equationNumbers: {autoNumber: "AMS"} } });
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS_CHTML">
  </script>

  <script type="text/javascript" src="{{ "css/pjump.js" | relURL }}"></script>

  {{ with .OutputFormats.Get "RSS" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>
<body>
  <div class="container">
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
  </div>
</body>
</html>
