{{ define "main" }}
	<main>
		<article class="blog-post">
      <h1>{{ .Title }}</h1>
      {{ $authorVarType := (printf "%T" .Params.author ) }}

      <p class="meta">
        Written by
        {{ if eq $authorVarType "[]string" }}
          {{ range .Params.author }}
            {{ . }},
          {{ else }}
            Okome Studio
          {{ end }}
        {{ else if eq $authorVarType "string" }}
          {{ .Params.author }}
        {{ else }}
          Okome Studio
        {{ end }}

        on <time>{{ .Date.Format "January 2, 2006" }}</time>.
	      Tagged:
        {{ range .Params.tags }}
	      <a href="{{ "./tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
	      {{ end }}
      </p>
			<div>
				{{ .Content }}
			</div>

			{{ if .Site.Config.Services.Disqus.Shortname }}
			<div class="comments">
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ end }}

	  </article>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
