<article class="blog-post">
	<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  {{ if .Summary }}
  <p class="meta">
    Written by {{ .Params.author | default "Okome Studio" }}
    on <time>{{ .Date.Format "January 2, 2006" }}</time>.
    Tagged:
	  {{ range .Params.tags }}
	  <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
	  {{ end }}
  </p>
  {{ end }}
	<div>
		{{ .Summary }}
		{{ if .Truncated }}
		...	<a href="{{ .Permalink }}">Continue reading</a>.
		{{ end }}
	</div>
</article>
